{% extends 'base.html.twig' %}

{% block title %}CoagCare API{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    h1{
        color: #56C596;
    }
</style>

<div class="example-wrapper">
  <center> <img src="http://api.coagcare.continuousnet.com/Assets/images/28ebbaf8542787f740803d8c39f94b87.png" alt="image">
  </center>
</div>
{% endblock %}
