{% extends 'base.html.twig' %}

{% block title %}Hello WebPagesController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    h1{
        color: #56C596;
    }
</style>

<div class="example-wrapper">
  <center> <img src="https://api.coagcare.continuousnet.com/profile/images/92aa567088c7d63796c78d3447e07a7e.png" alt="image">
  </center>
</div>
{% endblock %}
